.my-team-coach table {
    background-color: #232323;
    border: 2px solid #E8CB69;
    color: #fff;
}

.my-team-coach table tr {
    border: 1px solid #E8CB69;
}

.my-team-coach thead{
    line-height: 35px;
}

.my-team-coach .table>:not(:first-child){
    border: 1px solid #E8CB69;
}

.my-team-coach table .btn {
    font-size: 12px;
    border-radius: 20px;
    padding: 6px 25px;
    width: 130px;
    max-width: 100%;
}

.my-team-coach table .btn:hover{
    background-color: auto!important;
}

.my-team-coach .btn-option button {
    background-color: #232323;
    color: #fff;
    width: 100px;
    border-radius: 20px;
    margin: 0 15px;
}