.club-leader-coaches table {
    background-color: #232323;
    border: 2px solid #E8CB69;
    color: #fff;
}

.club-leader-coaches table tr {
    border: 1px solid #E8CB69;
}

.club-leader-coaches thead{
    line-height: 35px;
}

.club-leader-coaches .table>:not(:first-child){
    border: 1px solid #E8CB69;
}

.club-leader-coaches table .btn {
    font-size: 12px;
    border-radius: 20px;
    padding: 6px 25px;
    width: 130px;
    max-width: 100%;
}

.club-leader-coaches table .btn:hover{
    background-color: auto!important;
}

.club-leader-coaches .btn-option button {
    background-color: #232323;
    color: #fff;
    width: 100px;
    border-radius: 20px;
    margin: 0 15px;
}